@import 'color';

$aa-border-and-box-shadow:  #ccc;
$aa-medium-gray:            #777c89;
$aa-dark-gray:              #333;
$aa-search-button-color:    $forsa-aqua;
$aa-white:                  #fff;
$aa-text-box-border-color:  #dedede;
$aa-text-box-color:         #666;
$aa-hover-background-color: lighten($forsa-aqua, 45%);

$aa-msg-success:            #449D44;
$aa-msg-success-background: #e5fae3;
$aa-msg-warning:            #ff7f00;
$aa-msg-warning-background: #fee7d1;
$aa-msg-error:              #c00;
$aa-msg-error-background:   #fbc8c8;
$aa-msg-info:               #31708f;
$aa-msg-info-background:    #d9edf7;

$aa-option-background-color:       #4773a3;
$aa-search-after-color:            #888;
$aa-options-tabs-yet-another-gray: #5D6162;
$aa-selected-tab-color:            #0893d2;
$aa-tab-image-background-color:    #ebebeb;
$aa-back-link-background-color: #f0f0f0;
$aa-back-link-border-color:     #b1b2b2;
$aa-control-hover-color:        #f6f6f6;

.autoaddress-control {
  max-width: 650px;
  margin: 10px 0;
  font-size: 15px;
  color: $aa-medium-gray;
  font-family: inherit;
  position: relative;
  line-height: normal;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box
}

.autoaddress-control .f-right {
  float: right
}

.autoaddress-control .f-left {
  float: left
}

.autoaddress-control input[type=text]::-ms-clear {
  display: none
}

.autoaddress-control > .autoaddress-text-box {
  outline: 0;
  border: 0;
  border: 1px solid $aa-text-box-border-color;
  border-radius: 3px 0 0 3px;
  line-height: normal;
  line-height: 52px \9;
  height: 55px;
  width: 80%;
  box-sizing: border-box;
  background: $aa-white;
  font-size: 16px;
  color: $aa-text-box-color;
  margin: 0;
  padding: 0 10px;
  float: left
}

.autoaddress-control > .autoaddress-button {
  background-color: $aa-search-button-color;
  border: 1px solid $aa-search-button-color;
  color: $aa-white;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  height: 55px;
  text-align: center;
  vertical-align: middle;
  border-radius: 0 4px 4px 0;
  width: 20%;
  margin: 0;
  clear: right;
  position: relative;
  box-sizing: border-box
}

.autoaddress-button:focus, .autoaddress-control .autoaddress-button:hover {
  box-shadow: 0 0 1px 1px $aa-border-and-box-shadow
}

.autoaddress-control .btn-hide-text {
  font-size: 0 !important;
  box-shadow: 0 0 1px 1px $aa-border-and-box-shadow !important
}

.autoaddress-control .autoaddress-options-msg .autoaddress-close-msg {
  float: right;
  margin: 4px 5px 0;
  background: asset-url("aa/close-msg.png") no-repeat;
  width: 10px;
  height: 10px
}

.autoaddress-control .autoaddress-options-msg.error, .autoaddress-control .autoaddress-options-msg.info, .autoaddress-control .autoaddress-options-msg.success, .autoaddress-control .autoaddress-options-msg.warning {
  padding: 10px 15px 9px;
  position: relative;
  font-size: 16px;
  border-radius: 5px;
  clear: both;
  margin: 15px 0
}

.autoaddress-control .autoaddress-options-msg.error span, .autoaddress-control .autoaddress-options-msg.info span, .autoaddress-control .autoaddress-options-msg.success span, .autoaddress-control .autoaddress-options-msg.warning span {
  padding: 0;
  border: 0;
  width: 24px;
  height: 24px;
  margin-left: -49px;
  margin-top: -3px;
  float: left;
  background: asset-url("aa/success-msg-icon-circle.png") no-repeat
}

.autoaddress-control .autoaddress-options-msg.warning span {
  background: asset-url("aa/alert-msg-icon-circle.png") no-repeat
}

.autoaddress-control .autoaddress-options-msg.error span {
  background: asset-url("aa/error-msg-icon-circle.png") no-repeat
}

.autoaddress-control .autoaddress-options-msg.info span {
  background: asset-url("aa/alert-msg-icon-circle.png") no-repeat
}

.autoaddress-control .autoaddress-options-msg.success {
  background: $aa-msg-success-background;
  border: 1px solid $aa-msg-success;
  color: $aa-dark-gray;
  border-left: 45px solid $aa-msg-success
}

.autoaddress-control .autoaddress-options-msg.warning {
  background: $aa-msg-warning-background;
  border: 1px solid $aa-msg-warning;
  border-left: 45px solid $aa-msg-warning;
  color: $aa-dark-gray
}

.autoaddress-control .autoaddress-options-msg.error {
  background: $aa-msg-error-background;
  border: 1px solid $aa-msg-error;
  border-left: 45px solid $aa-msg-error;
  color: $aa-dark-gray
}

.autoaddress-control .autoaddress-options-msg.info {
  background: $aa-msg-info-background;
  border: 1px solid $aa-msg-info;
  border-left: 45px solid $aa-msg-info;
  color: $aa-dark-gray
}

.autoaddress-control .autoaddress-autocomplete {
  border: 1px solid $aa-border-and-box-shadow;
  position: absolute;
  z-index: 1;
  width: 99.8%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, .3)
}

.autoaddress-control .autoaddress-autocomplete .autoaddress-suggestion {
  white-space: normal;
  border-bottom: solid 1px $aa-border-and-box-shadow;
  padding: 10px;
  font-weight: 400
}

.autoaddress-control .autoaddress-autocomplete .autoaddress-suggestion:last-child {
  border-bottom: none
}

.autoaddress-control .autoaddress-autocomplete .autoaddress-suggestion.selected, .autoaddress-control .autoaddress-autocomplete .autoaddress-suggestion:hover {
  text-decoration: none;
  outline: 0;
  cursor: pointer
}

.autoaddress-control .autoaddress-autocomplete .autoaddress-suggestion.autoaddress-searchTerm:after {
  content: ' - Address search';
  background: asset-url("aa/auto-search-icon.png") right 3px no-repeat;
  padding-right: 20px
}

.autoaddress-control .autoaddress-autocomplete .autoaddress-suggestion.autoaddress-searchTerm:hover:after {
  background: asset-url("aa/auto-search-icon-hover.png") right 2px no-repeat;
  padding-right: 20px
}

.autoaddress-control .autoaddress-autocomplete .autoaddress-suggestion.autoaddress-defaultSearch {
  color: $aa-dark-gray;
  background: $aa-white
}

.autoaddress-control .autoaddress-autocomplete .autoaddress-suggestion.autoaddress-defaultSearch.selected, .autoaddress-control .autoaddress-autocomplete .autoaddress-suggestion.autoaddress-defaultSearch:hover {
  background: $aa-option-background-color;
  color: $aa-white
}

.autoaddress-control .autoaddress-autocomplete .autoaddress-suggestion.autoaddress-defaultSearch.autoaddress-searchTerm {
  background: $aa-hover-background-color;
  color: $aa-medium-gray;
  text-transform: none
}

.autoaddress-control .autoaddress-autocomplete .autoaddress-suggestion.autoaddress-defaultSearch.autoaddress-searchTerm:hover {
  background: $aa-option-background-color;
  color: $aa-white
}

.autoaddress-control .autoaddress-autocomplete .autoaddress-suggestion.autoaddress-defaultSearch.autoaddress-searchTerm:after {
  color: $aa-search-after-color
}

.autoaddress-control .autoaddress-autocomplete .autoaddress-suggestion.autoaddress-defaultSearch.autoaddress-searchTerm:hover:after {
  color: $aa-white
}

.autoaddress-control .autoaddress-autocomplete .autoaddress-suggestion.autoaddress-search {
  color: $aa-dark-gray;
  background: $aa-white
}

.autoaddress-control .autoaddress-autocomplete .autoaddress-suggestion.autoaddress-search.selected, .autoaddress-control .autoaddress-autocomplete .autoaddress-suggestion.autoaddress-search:hover {
  background: $aa-hover-background-color;
  color: $aa-dark-gray
}

.autoaddress-control .autoaddress-autocomplete .autoaddress-suggestion.autoaddress-search.autoaddress-searchTerm {
  background: $aa-hover-background-color;
  color: $aa-medium-gray;
  text-transform: none
}

.autoaddress-control .autoaddress-autocomplete .autoaddress-suggestion.autoaddress-search.autoaddress-searchTerm:hover {
  background: $aa-hover-background-color;
  color: $aa-medium-gray
}

.autoaddress-control .autoaddress-autocomplete .autoaddress-suggestion.autoaddress-search.autoaddress-searchTerm:after {
  color: $aa-search-after-color
}

.autoaddress-control .autoaddress-autocomplete .autoaddress-suggestion.autoaddress-search.autoaddress-searchTerm:hover:after {
  color: $aa-white
}

.autoaddress-control .autoaddress-options-container .autoaddress-options-list {
  overflow-y: auto;
  max-height: 265px;
  margin-top: 15px;
  border: 1px solid $aa-border-and-box-shadow;
  border-radius: 5px;
  position: relative
}

.autoaddress-control .autoaddress-options-container .autoaddress-options-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background: $aa-white
}

.autoaddress-control .autoaddress-options-container .autoaddress-options-list li a {
  white-space: normal;
  border-bottom: 1px solid $aa-border-and-box-shadow;
  color: $aa-dark-gray;
  text-decoration: none;
  display: block;
  clear: both;
  font-weight: 400;
  line-height: 1.52857;
  font-size: 14px;
  padding: 10px 15px;
  cursor: pointer
}

.autoaddress-control .autoaddress-options-container .autoaddress-options-list li:last-child a {
  border-bottom: none
}

.autoaddress-control .autoaddress-options-container .autoaddress-options-list li a:hover, .autoaddress-control .autoaddress-options-container .autoaddress-options-list li.active a {
  background: $aa-option-background-color;
  color: $aa-white
}

.autoaddress-control .autoaddress-options-container .autoaddress-options-list li > a em {
  font-size: 14px
}

.autoaddress-control .ma-arrow {
  background: asset-url("aa/multi-address-arrow.png") no-repeat;
  width: 11px;
  height: 17px;
  margin-top: 3px;
  padding-left: 3px
}

.autoaddress-control .autoaddress-options-list li a:focus .ma-arrow, .autoaddress-control .autoaddress-options-list li a:hover .ma-arrow, .autoaddress-options-list li.active .ma-arrow {
  background: asset-url("aa/multi-address-arrow-select.png") no-repeat
}

.autoaddress-control .ma-list {
  background: asset-url("aa/MultiAddress-List.png") no-repeat;
  width: 18px;
  height: 12px;
  margin-top: 5px;
  padding-left: 5px
}

.autoaddress-control .autoaddress-options-list li a:hover .ma-list, .autoaddress-options-list li a:focus .ma-list, .autoaddress-options-list li.active .ma-list {
  background: asset-url("aa/MultiAddress-List-select.png") no-repeat
}

.autoaddress-control .autoaddress-options-container .autoaddress-options-tabs {
  margin-top: 15px;
  display: table;
  content: " "
}

.autoaddress-control .autoaddress-options-container .autoaddress-options-tabs li a {
  position: relative;
  display: block;
  border-radius: 4px 4px 0 0;
  margin-right: 2px;
  line-height: 1.62857;
  border-width: 2px 1px 1px;
  border-style: solid;
  border-color: $aa-border-and-box-shadow;
  font-weight: 400;
  padding: 5px 20px 0 41px;
  color: $aa-options-tabs-yet-another-gray;
  text-decoration: none;
  background: asset-url("aa/address-tab.png") 15px 8px no-repeat $aa-tab-image-background-color
}

.autoaddress-control .autoaddress-options-container .autoaddress-options-list.autoaddress-options-tab-pane {
  display: none;
  visibility: hidden;
  border-top-left-radius: 0;
  margin-top: -1px;
  z-index: 1
}

.autoaddress-control .autoaddress-options-container .autoaddress-options-tab-pane.selected {
  display: block;
  visibility: visible
}

.autoaddress-control .autoaddress-options-container .autoaddress-options-tabs {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  position: relative;
  border: 0 !important
}

.autoaddress-control .autoaddress-options-container .autoaddress-options-tabs li {
  float: left;
  position: relative;
  display: block
}

.autoaddress-control .autoaddress-options-container .autoaddress-options-tabs li a.selected {
  border-top: 2px solid $aa-selected-tab-color;
  background: asset-url("aa/address-tab-selected.png") 15px 8px no-repeat $aa-white;
  color: $aa-selected-tab-color;
  z-index: 2;
  border-bottom: 1px solid $aa-white
}

.autoaddress-control .autoaddress-options-container .autoaddress-options-tabs li + li a {
  background: asset-url("aa/Commercial-tab.png") 15px 6px no-repeat $aa-back-link-background-color
}

.autoaddress-control .autoaddress-options-container .autoaddress-options-tabs li + li a.selected {
  background: asset-url("aa/Commercial-tab-selected.png") 15px 6px no-repeat $aa-white
}

.autoaddress-control .autoaddress-options-tab-pane ul {
  margin: 0;
  padding: 0
}

.autoaddress-control a.autoaddress-back-link {
  background: asset-url("aa/back.png") 10px 9px no-repeat $aa-back-link-background-color;
  font-size: 14px;
  text-transform: uppercase;
  padding: 7px 12px 7px 25px;
  border: 1px solid $aa-back-link-border-color;
  border-radius: 5px;
  text-decoration: none;
  color: $aa-dark-gray;
  webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .175);
  box-shadow: 0 2px 5px rgba(0, 0, 0, .175);
  display: inline-block;
  margin-top: 10px;
  line-height: normal
}

.autoaddress-control .autoaddress-back-link img {
  margin: 0 10px -3px 0
}

.autoaddress-control .autoaddress-circle-spinner {
  position: absolute;
  top: 44%;
  left: 42%;
  transform: translate(-19%, -40%)
}

.autoaddress-control .autoaddress-loader {
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: $aa-white;
  outline: 0;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  font-size: 0;
  line-height: 0
}

.autoaddress-control .hover {
  position: absolute;
  z-index: 9999;
  background-color: $aa-control-hover-color;
  border: 1px solid $aa-border-and-box-shadow;
  width: 95.6%;
  padding: 2%
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0)
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0)
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

@media (max-width: 767px) {
  .autoaddress-control .autoaddress-button {
    font-size: 18px
  }
}

@media (max-width: 480px) {
  .autoaddress-control .autoaddress-button {
    font-size: 16px;
    width: 25%
  }

  .autoaddress-control .autoaddress-text-box {
    width: 75%
  }

  .autoaddress-control {
    font-size: 14px
  }

  .autoaddress-control .autoaddress-circle-spinner {
    top: 44%;
    left: 37%
  }
}
